:root {
   --light-bg: rgb(93, 92, 97);
   --light-primary-color: rgb(37, 78, 88);
   --light-secondary-color: rgb(136, 189, 188);
   --dark-bg: rgb(245, 245, 245);
   --dark-primary-color: rgb(251, 238, 193);
   --dark-secondary-color: rgb(218, 173, 134);
}

* {
   margin: 0;
   padding: 0;
   font-family: Georgia, "Times New Roman", Times, serif;
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh;
   background-color: var(--light-bg);
}

.appTitleContainer {
   width: 350px;
   padding: 10px;
   margin-top: 120px;
   /* border: 1px black solid; */
   display: flex;
}

.appTitle {
   flex: 1;
}

.todosContainer {
   width: 350px;
   margin-top: 40px;
   padding: 10px;
   border-radius: 10px;
   border: 1px black solid;
   background-color: var(--light-primary-color);
}

.todosForm {
   display: flex;
}

.todosInput {
   flex: 1;
   padding: 10px;
}

.todosList {
   margin-top: 16px;
   display: flex;
   flex-direction: column;
}

.todoItem {
   margin-bottom: 8px;
   display: flex;
   padding: 10px;
   background-color: var(--light-secondary-color);
}

.taskTitle {
   flex: 1;
   margin-left: 4px;
}

.editTask {
   margin-right: 4px;
}
